:root {
  --background-gray: #3b4148;
  --font-primary: white;
  --font-secondary: rgb(241, 241, 143);
  --font-correct: #75e0ad;
  --font-wrong: #e0544b;
}

html body {
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--font-primary);
  font-family: Menlo, monospace;
  font-size: 24px;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-gray);
}

.game-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-container {
  display: none;
  justify-content: center;
  flex-direction: column;
}

.result-qty {
  color: var(--font-secondary);
  font-size: 3rem;
}

.btn-restart {
  cursor: pointer;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid transparent;
  font-size: 1.5rem;
  color: var(--background-gray);
  border-radius: 5px;
}

.btn-restart:hover {
  border: 2px solid var(--font-secondary);
}

.timer {
  color: var(--font-secondary);
  position: absolute;
  left: 25%;
  top: 20%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 24rem;
  width: 50%;
}

.word {
  padding: 0 0.5rem;
}

.char.correct {
  color: var(--font-correct);
}

.char.wrong {
  color: var(--font-wrong);
}

.char.active {
  position: relative;
}

.char.active:before {
  position: absolute;
  display: inline-block;
  content: '|';
  animation: blink 1s step-end infinite;
  top: -5px;
  left: -0.5rem;
}

.char.active.last-char::before {
  left: 0.5rem;
}

@keyframes blink {
  0% {
    color: var(--font-primary);
  }
  50% {
    color: var(--background-gray);
  }
  100% {
    color: var(--font-primary);
  }
}

@media (max-width: 1024px) {
  .timer {
    left: 15%;
    top: 15%;
  }
}

@media (max-width: 767px) {
  html body {
    height: fit-content;
    min-height: 100vh;
  }

  .container {
    padding: 2rem 0;
    min-height: 100vh;
  }

  .results-container {
    height: 100vh;
  }

  .timer {
    left: 1.5rem;
    top: 1.5rem;
  }
}
