html body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-family: Menlo, monospace;
  font-size: 24px;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b4148;
}

.timer {
  color: rgb(241, 241, 143);
  position: absolute;
  left: 25%;
  top: 25%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 16.5rem;
  width: 50%;
  overflow-x: visible;
  overflow-y: hidden;
}

.word {
  padding: 0 0.5rem;
}

.char.correct {
  color: #75E0AD;
}

.char.wrong {
  color: #E0544B;
}

.char.active {
  position: relative;
}

.char.active:before {
  position: absolute;
  display: inline-block;
  content: '|';
  animation: blink 1s step-end infinite;
  top: -5px;
  left: -0.5rem;
}

@keyframes blink {
  0% {
    color: #fff;
  }
  50% {
    color: #3b4148;
  }
  100% {
    color: #fff;
  }
}
